
.header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    position: fixed;
    top: 0;
    z-index: 10;
    background: #53c60bcd;
    backdrop-filter: blur(10px);
    transition: background 0.5s;
  }

  .header.transparent {
    background: rgba(255, 255, 255, 0.3);
    z-index: 10;
  }
  
  .left a {
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .right a {
    margin-left: 15px;
    color: dimgrey;
    font-weight: 500;
  }
  
  .footer {
    width: 100%;
    background-color: #53c60b;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    margin-top: 30px;
  }
  
  .footer a {
    text-decoration: none;
    color: #234a0b;
  }
  
  .container {
    min-height: 1000px;
  }
  
  @media (max-width: 900px) {
    .header {
      padding: 20px;
    }
  }
  
  @media (max-width: 600px) {
    .header {
      padding: 10px;
    }
  }